<a href="https://colab.research.google.com/github/MinsooKwak/image_caption/blob/main/image_caption_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [3]:
root_directory = '/content/drive/MyDrive/ImageCaption/Data/flickr8k'

In [8]:
df = pd.read_csv('/content/drive/MyDrive/ImageCaption/Data/flickr8k/captions.txt')
df

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...
...,...,...
40450,997722733_0cb5439472.jpg,A man in a pink shirt climbs a rock face
40451,997722733_0cb5439472.jpg,A man is rock climbing high in the air .
40452,997722733_0cb5439472.jpg,A person in a red shirt climbing up a rock fac...
40453,997722733_0cb5439472.jpg,A rock climber in a red shirt .
40454,997722733_0cb5439472.jpg,A rock climber practices on a rock climbing wa...

In [19]:
df2 = pd.DataFrame(df.image.value_counts())
df2 = df2.reset_index()
df2

                          index  image
0     1000268201_693b08cb0e.jpg      5
1     3388094307_5a83be64a5.jpg      5
2     3393394134_0caac47e1c.jpg      5
3     3393343330_b13df4d8ec.jpg      5
4     3393152604_27bd1037f2.jpg      5
...                         ...    ...
8086  2699733386_c346c87ea6.jpg      5
8087  2699426519_228719b1db.jpg      5
8088  2699342860_5288e203ea.jpg      5
8089  2699125097_c6801d80ed.jpg      5
8090   997722733_0cb5439472.jpg      5

[8091 rows x 2 columns]

In [20]:
df2.image.value_counts()

5    8091
Name: image, dtype: int64

-> 모든 이미지는 5개의 caption을 갖고 있음

**영어 토큰화**

참고 : https://mollymollang.tistory.com/18

- NLTK
- keras
  - 모든 토큰을 소문자로 변경
  - Don't를 don't로 Jone's를 jone's로 변경 
  - 마침표나 쉼표 등의 구두점은 버림

In [21]:
from tensorflow.keras.preprocessing.text import text_to_word_sequence

def token_word(string):
  '''
  token화 후 토큰들을 list로 return하는 함수 정의
  '''
  str_list = text_to_word_sequence(string)
  return str_list

In [26]:
df['token'] = df.caption.apply(token_word)
df['len'] = df.caption.apply(lambda x : len(x))
df.head()

,image,caption,token,len
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...,"[a, child, in, a, pink, dress, is, climbing, u...",72
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .,"[a, girl, going, into, a, wooden, building]",37
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .,"[a, little, girl, climbing, into, a, wooden, p...",48
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...,"[a, little, girl, climbing, the, stairs, to, h...",52
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...,"[a, little, girl, in, a, pink, dress, going, i...",57

In [ ]:
# token = tokenizer()
# token.fit_on_text(docs)
# print(token.word_counts)  # tokenizer()의 word_counts함수는 순서 기억하는 OrderedDict 클래스 사용

살펴봐야할 내용 (스터디)

- https://wikidocs.net/182469
- https://velog.io/@fe26ming/%EB%94%A5%EB%9F%AC%EB%8B%9D-8%EC%9D%BC%EC%B0%A8
- https://han-py.tistory.com/271
- https://m.blog.naver.com/askif2/222024172658
- https://www.lucypark.kr/courses/2015-dm/text-mining.html